<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div>
  <table >
    <tr>
      <th>id</th>
      <th>name</th>
      <th>price</th>
      <th>quantity</th>
      <th>description</th>
      <th>category </th>
    </tr>
    <tr th:each="p:${productList}">
      <td th:text="${p.id}"></td>
      <td th:text="${p.name}"></td>
      <td th:text="${p.price}"></td>
      <td th:text="${p.quantity}"></td>
      <td th:text="${p.description}"></td>
      <td th:text="${p.category }"></td>
    </tr>
  </table>
</div>
<form th:action="@{/product/new}" th:object="${product}" method="post">
  <div>
    <label>ID</label>
    <input name="id" type="number">
  </div>
  <div>
    <label>Name</label>
    <input name="name" type="text">
  </div>
  <div>
    <label>Price</label>
    <input name="price" type="number">
  </div>
  <div>
    <label>Quantity</label>
    <input name="quantity" type="number">
  </div>
  <div>
    <label>Description</label>
    <input name="description" type="text">
  </div>
  <div>
    <label>ID</label>
    <input name="id" type="number">
  </div>
  <button >Create</button>
</form>

</body>
</html>