<nav style="margin-bottom: 20px;">
    <a th:href="@{/category}">Quản lý Danh mục</a>
</nav>

<div class="product-manager">
    <h3>Danh sách Sản phẩm</h3>
    <table border="1" width="100%">
        <thead>
            <tr>
                <th>Id</th><th>Tên</th><th>Giá</th><th>Số lượng</th><th>Mô tả</th><th>Danh mục</th><th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${productList}">
				<td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.price}"></td>
                <td th:text="${p.quantity}"></td>
                <td th:text="${p.description}"></td>
                <td th:text="${p.category?.name}"></td>
                <td>
                    <form th:action="@{/product/delete/{id}(id=${p.id})}" method="post" style="display:inline">
                        <button type="submit" onclick="return confirm('Xóa nhé?')">Xóa</button>
                    </form>
                    <a th:href="@{/product/edit/{id}(id=${p.id})}">Sửa</a>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h3>Thêm Sản phẩm Mới</h3>
    <form th:action="@{/product/new}" th:object="${product}" method="post">
        <div>
            <label>Tên: </label>
            <input type="text" th:field="*{name}" required>
            
            <label>Giá: </label>
            <input type="number" th:field="*{price}" step="0.01">
            
            <label>Số lượng: </label>
            <input type="number" th:field="*{quantity}">
        </div>
        <br>
        <div>
            <label>Mô tả: </label>
            <input type="text" th:field="*{description}">

            <label>Danh mục: </label>
            <select th:field="*{category}" required>
                <option value="">-- Chọn danh mục --</option>
                <option th:each="cat : ${categoryList}" 
                        th:value="${cat.id}" 
                        th:text="${cat.name}">
                </option>
            </select>
            
            <button type="submit" style="background-color: #4CAF50; color: white;">+ Thêm vào kho</button>
        </div>
    </form>
</div>