<form th:action="@{/user/edit}" th:object="${user}" method="post">
    
    <input type="hidden" th:field="*{id}" th:if="${user.id != null}">

    <div>
        <label>Name: </label>
        <input type="text" th:field="*{name}" placeholder="Nhập họ tên...">
    </div>

    <div>
        <label>Old: </label>
        <input type="number" th:field="*{old}">
    </div>

    <div>
        <label>Username: </label>
        <input type="text" th:field="*{username}">
    </div>

    <div>
        <label>Password: </label>
        <input type="password" th:field="*{password}">
    </div>

    <div>
        <label>Home address: </label>
        <input type="text" th:field="*{homeAddress}">
    </div>

    <button type="submit">Xác nhận</button>
</form>